<section class="flex flex-col gap-4">
  <app-page-header
    [title]="'Detail Kendaraan'"
    [subtitle]="'Tab komponen kendaraan dan indikator EWE.'"
  />

  <div class="grid gap-3 rounded-xl border border-slate-200 bg-white p-4 md:grid-cols-5">
    <input pInputText class="md:col-span-2" placeholder="Nama komponen" [(ngModel)]="namaKomponen" />
    <input pInputText type="date" placeholder="Tanggal pasang" [(ngModel)]="tanggalPasang" />
    <input pInputText type="number" placeholder="Umur (bulan)" [(ngModel)]="umurEstimasiBulan" />
    <div class="flex gap-2">
      <input pInputText type="number" placeholder="KM estimasi" [(ngModel)]="kmGantiEstimasi" />
      <button pButton type="button" icon="pi pi-plus" (click)="addKomponen()"></button>
    </div>
  </div>

  <p-table [value]="activeKomponen()" dataKey="id" [stripedRows]="true">
    <ng-template #header>
      <tr>
        <th>Nama Komponen</th>
        <th>Tanggal Pasang</th>
        <th>Umur Estimasi</th>
        <th>KM Estimasi</th>
        <th>EWE</th>
        <th class="w-24 text-right">Aksi</th>
      </tr>
    </ng-template>
    <ng-template #body let-row>
      <tr>
        <td>{{ row.namaKomponen }}</td>
        <td>{{ row.tanggalPasang }}</td>
        <td>{{ row.umurEstimasiBulan }} bulan</td>
        <td>{{ row.kmGantiEstimasi.toLocaleString('id-ID') }} km</td>
        <td>
          <p-tag [value]="row.eweStatus" [severity]="eweSeverity(row.eweStatus)"></p-tag>
        </td>
        <td class="text-right">
          <button pButton type="button" icon="pi pi-trash" severity="danger" [text]="true" (click)="softDelete(row.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
